*{
	margin: 0;
	padding: 0;
}

body{
	min-height: 100vh;
	background: #F5F6F8;
}

.welcome-header{
	font-family: Arial;
	background: #3b4042;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.welcome-header-h1{
	width: 40%;
	color: #fff;
	font-weight: 400;
	font-size: 1.5rem;
	padding: 3vh 5%;
}

.welcome-header-nav{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: Arial;
	background: #2255AB;
}

.welcome-header-nav-a{
	color: #fff;
	position: relative;
	font-size: 12px;
	background: #255DBA;
	text-decoration: none;
	padding: 10px 40px;
}

.welcome-header-nav-a:hover{
	background: #D1AE25;
	text-decoration: underline;
}


/*=========================== WELCOME CARRUSEL ====================================*/

.welcome-carrusel{
	width: 96%;
	height: 50vh;
	position: relative;
	border: 1px solid red;
	margin: 2px 2%;

}

.welcome-carrusel-img{
	width: cover;
	position: relative;
}

/*=========================== WELCOME LOGIN ====================================*/

.welcome-login-container{
	width: 60%;
	font-family: arial;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 30px 20%;
}

.welcome-login{
	width: 246px;
	height: 230px;
	text-decoration: none;
	background: #fff;
}

.welcome-login-a{
	display: flex;
	flex-wrap: wrap;
	transition: 0.6s;
	position: relative;
	width: 100%;
	text-decoration: none;
	overflow: hidden;
	padding: 1px;
}

.welcome-login-a-h3{
	color: #416FAD;
	transition: 0.6s;
	margin: 30px 20px 10px;
}

.welcome-login-a-span1{
	position: absolute;
	width: 20px;
	height: 20px;
	transition: 0.6s;
	top: 10px;
	right: 10px;
	background: #416FAD;
}

.welcome-login-a-span2{
	position: absolute;
	width: 20px;
	height: 20px;
	transition: 0.6s;
	top: 40px;
	right: 10px;
	background: #416FAD;
}

.welcome-login-a-span3{
	position: absolute;
	width: 20px;
	height: 20px;
	transition: 0.6s;
	top: 70px;
	right: 10px;
	background: #416FAD;
}

.welcome-login-a-p{
	color: #416FAD;
	width: 86%;
	text-align: justify;
	margin: 70px 7% 20px;
}

.welcome-login-a:hover{
	box-shadow: 0 0 10px rgba(50, 50, 190, .4);
}

.welcome-login-a:hover .welcome-login-a-h3, .welcome-login-a:hover .welcome-login-a-p{
	color: #1FB8FF;
	transition: 0.6s;
}

.welcome-login-a:hover .welcome-login-a-span1,.welcome-login-a:hover .welcome-login-a-span2,.welcome-login-a:hover .welcome-login-a-span3{
	background: #1FB8FF;
	transform: rotateZ(135deg);
	transition: 0.6s;
	box-shadow: 0 0 10px #1FB8FF;
}




/*=============================== WELCOME SRCTI ====================================*/

.welcome-login1{
	width: 246px;
	height: 230px;
	text-decoration: none;
	background: #fff;
}

.welcome-login-a1{
	display: flex;
	flex-wrap: wrap;
	background: #fff;
	border: none;
	height: 100%;
	transition: 0.6s;
	position: relative;
	width: 100%;
	text-decoration: none;
	overflow: hidden;
	padding: 1px;
}

.welcome-login-a-h31{
	color: #416FAD;
	transition: 0.6s;
	margin: 30px 20px 10px;
}



.welcome-login-a-p1{
	color: #416FAD;
	width: 86%;
	text-align: justify;
	margin: 70px 7% 20px;
}

.welcome-login-a1:hover{
	box-shadow: 0 0 10px rgba(50, 50, 190, .4);
	color: #000;
}






/*=================================== WELCOME NOTICIAS ======================*/

.welcome-noticias{
	width: 60%;
	margin: 10% 2%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.welcome-noticias-h1{
	font-family: Arial;
	font-weight: 400;
	max-width: 20%;
}

.welcome-noticias-span{
	width: 80%;
	margin-top: 27px;
	border: 3px solid #FC8F1B;
}


.welcome-noticias-container{
	width: 100%;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 5px 0 40px;
}


.welcome-noticias-img{
	width: 26%;
	height: 200px;
	background: #2942DA;
	height: 30px;
}

.welcome-noticias-ul{
	width: 60%;
	margin-top: 20px;
	font-family: Arial;
	font-size: 12px;
}

.welcome-noticias-ul-li{
	padding: 10px 0;
	border-bottom: 1px solid #B5B5B5;
}

.welcome-noticias-ul-li a{
	text-decoration: none;
	color: #777;
}

.welcome-noticias-ul-li:hover .welcome-noticias-ul-li{
	color: #2942DA;
}


/*=================================== WELCOME FOOTER ======================*/

.welcome-footer{
	max-width: 100%;
	background: #000;
	padding: 8vh 10%;
}

.welcome-footer p{
	font-family: Arial;
	color: #fff;
	font-size: 12px;
	text-align: center;
}




/*================================ WELCOME THE LOGIN =============================*/

.welcome-the-login-container{
	position: fixed;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100vh;
	z-index: 9;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}



.welcome-the-login-form{
	width: 300px;
	height: 180px;
	background: #fff;
	display: flex;
	position: relative;
	display: 12;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 10px;
}

.welcome-the-login-h3{
	font-family: Arial;
	color: #777;
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

.welcome-the-login-input{
	padding: 7px;
}

.welcome-the-login-a{
	color: #777;
	font-size: 14px;
	text-decoration: none;
	font-family: Arial;

}

.welcome-the-login-a:hover{
	cursor: pointer;
	color: #000;
	text-decoration: underline;
}

.welcome-the-login-btn{
	background: #46AEF6;
	color: #fff;
	font-family: Arial;
	padding: 7px 20px;
	border: none;
	cursor: pointer;
}

.welcome-the-login-btn:hover{
	text-shadow: 0 0 5px #fff;
}

.welcome-the-login-x{
	position: absolute;
	content: 'X';
	color: #777;
	top: 2px;
	right: 7px;
	font-family: sans-serif;
	font-weight: 700;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	padding: 3px 6px;

}

.welcome-the-login-x:hover{
	background: #777;
	color: #fff;

}