*{
	margin: 0;
	padding: 0;
}

body{
	min-height: 100vh;
	background: #F5F6F8;
}

body::-webkit-scrollbar{
	width: 7px;
	
}

body::-webkit-scrollbar-thumb{
	background: #aaa;
}

.welcome-header{
	font-family: Arial;
	background: #3b4042;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

.welcome-header img{
	width: 7%;
	height: 70%;
	margin-left: 4%;
}

.welcome-header-h1{
	width: 40%;
	color: #fff;
	font-weight: 400;
	font-size: 1.5rem;
	padding: 3vh 1%;
}

.welcome-header-nav{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: Arial;
	background: #255DBA;
}

.welcome-header-nav-a{
	color: #fff;
	position: relative;
	font-size: 12px;
	background: #255DBA;
	text-decoration: none;
	padding: 10px 40px;
}

.welcome-header-nav-a:hover{
	background: #03157a;
	text-decoration: underline;
}

/*============================ WELCOME SECTION ====================================*/

.welcome-section-1{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

/*=========================== WELCOME CARRUSEL ====================================*/
.slider-box{
	width: 70%;
	overflow: hidden;
	height: 90vh;
	position: relative;
	margin: 10px auto 0px;
  }
  
  .slider-box div{
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	background: linear-gradient(transparent, rgba(0, 0, 0, .9));
	z-index: 2;
  }

  .slider-box div h2{
	font-family: 'Century Gothic', sans-serif;
	font-size: 32px;
	font-weight: 500;
	position: absolute;
	bottom: 20px;
	left: 40px;
	color:#fff;
	width: 40%;
  }
  
  .slider-box ul{
	display: flex;
	padding: 0;
	height: 100%;
	width: 700%;
	animation: slide 20s infinite alternate ease-in-out;
  }
  
  .slider-box li{
	width: 100%;
	z-index: 1;
	list-style: none;
	position: relative;
	box-shadow: inset -20px -10px 30px rgba(0, 0, 0, .9);
  }
  
  .slider-box img{
	height: 100%;
	width: 100%;
  }
  
  @keyframes slide{
	0%{margin-left: 0;}
	7.14%{margin-left: 0;}
  
	10.71%{margin-left: -100%;}
	21.42%{margin-left: -100%;}
  
	25.0%{margin-left: -200%;}
	35.71%{margin-left: -200%;}
  
	39.28%{margin-left: -300%;}
	50.0%{margin-left: -300%;}
  
	53.57%{margin-left: -400%;}
	64.28%{margin-left: -400%;}
  
	67.85%{margin-left: -500%;}
	78.57%{margin-left: -500%;}
  
	82.14%{margin-left: -600%;}
	100%{margin-left: -600%;}
  
  }


/*=========================== WELCOME LOGIN ====================================*/

.welcome-login-container{
	margin-right: 20px;
}

.welcome-login{
	width: 246px;
	height: 160px;
	text-decoration: none;
	margin: 10px 0;
}

.welcome-login-a{
	display: flex;
	flex-wrap: wrap;
	transition: 0.3s;
	position: relative;
	background: #fff;
	width: 100%;
	border: 1px solid rgba(23, 64, 247, 0.3);
	height: 100%;
	text-decoration: none;
	overflow: hidden;
	padding: 1px;
}

.welcome-login-a-h3{
	color: #416FAD;
	transition: 0.6s;
	margin: 30px 20px 0px;
}


.welcome-login-a-p{
	color: #416FAD;
	width: 86%;
	text-align: justify;
	margin: 30px 7% 20px;
}

.welcome-login-a:hover{
	box-shadow: -2px 2px 2px 1px rgba(0, 0, 50, .3);
}

.welcome-login-a:hover .welcome-login-a-h3{
	text-shadow: 0 0 4px #fff;
	transition: 0.2s;
}

.welcome-login-a:hover .welcome-login-a:hover .welcome-login-a-p{
	color: #1FB8FF;
	transition: 0.3s;
}


/*================================== ESTADISTICAS =================================*/

.stadisticas{
	width: 90%;
	margin: 10% auto 0;
	display: flex;
	justify-content: center;
	font-family: 'Century Gothic', sans-serif;
}

.stadisticas div{
	border-left: 0.5px solid rgba(0, 0, 0, .2);
	border-right: 0.5px solid rgba(0, 0, 0, .2);
	width: 16rem;
	background: #eee;
}

.stadisticas div h4{
	text-align: center;
	font-size: 34px;
	margin: 5% 0 2%;
}

.stadisticas div p{
	text-align: center;
	margin: 1% 0 2%;
	font-size: 24px;
	background: linear-gradient(transparent, rgba(0, 0, 0, .1));
}




/*=================================== WELCOME NOTICIAS ======================*/

.welcome-noticias{
	margin: 10% 2%;
	overflow: auto;
	width: 90%;
	height: 400px;
}

.welcome-noticias::-webkit-scrollbar{
	width: 6px;
	height: 6px;
	
}

.welcome-noticias::-webkit-scrollbar-thumb{
	border-radius: 20px;
	background: #aaa;
}

.welcome-noticias div{
	width: 160%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.welcome-noticias h1{
	width: 100%;
	padding: 0 60px;
	font-family: 'Century Gothic', sans-serif;
}

.welcome-noticia{
	width: 20rem;
	color: #000;
	height: 21.6rem;
	max-height: 21.6rem;
	text-decoration: none;
	background: #fff;
	font-family: 'Century Gothic', sans-serif;
	transition: 0.4s;
	margin: 0 1%;
}

.welcome-noticia h4{
	margin: 2% 5%;
}

.welcome-noticia p{
	font-size: 12px;
	text-align: justify;
	padding: 7px 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.welcome-noticia .img{
	width: 100%;
	height: 16rem;
	max-height: 16rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ddd;
	overflow: hidden;
}
.welcome-noticia .img img{
	width: 100%;
}

.welcome-noticia:hover{
	box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
	transition: 0.4s;
}



/*=================================== WELCOME FOOTER ======================*/

.welcome-footer{
	max-width: 100%;
	background: #000;
	padding: 8vh 10%;
}

.welcome-footer p{
	font-family: Arial;
	color: #fff;
	font-size: 12px;
	text-align: center;
}




/*================================ WELCOME THE LOGIN =============================*/

.welcome-the-login-container{
	position: fixed;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100vh;
	z-index: 9;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.welcome-the-login-form{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
	width: 310px;
	height: 240px;
	background: #fff;
	display: flex;
	position: relative;
	flex-wrap: wrap;
	transform: translateY(150vh);
	transition: 0.7s;
	align-items: flex-start;
	justify-content: space-around;
	padding-bottom: 10px;
}

.welcome-the-login-h3{
	font-family: 'Century Gothic', sans-serif;
	color: #000;
	width: 100%;
	font-size: 18px;
	text-align: center;
	margin: 0px 0 20px;
	padding: 15px 0;
}

.welcome-the-login-input{
	padding: 4px 10px;
	font-size: 13px;
}

.welcome-the-login-error{
	color:red;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
}

.welcome-the-login-a{
	color: #777;
	font-size: 12px;
	margin: 5% 5% 0;
	text-decoration: none;
	font-family: Arial;
}

.welcome-the-login-a:hover{
	cursor: pointer;
	color: #000;
	text-decoration: underline;
}

.welcome-the-login-btn{
	background: #24be26;
	color: #fff;
	font-family: Arial;
	padding: 5px 15px;
	border: none;
	font-size: 15px;
	outline: none;
	cursor: pointer;
}

.welcome-the-login-btn:hover{
	text-shadow: 0 0 5px #fff;
}

.welcome-the-login-x{
	position: absolute;
	color: #aaa;
	background: transparent;
	top: 4px;
	right: 4px;
	font-family: 'Century Gothic', sans-serif;
	font-weight: 700;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	padding: 0px 4px;
}

.welcome-the-login-x:hover{
	color: red;

}

.card{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
	}

.input-group-prepend span{
	width: 40px;
	background-color: #1FB8FF;
	color: black;
	border:0 !important;
	}